//////////////////////////////////////////////////////////////////////////////
/////////////////////////////////CONTENT SECTIE///////////////////////////////
//////////////////////////////////////////////////////////////////////////////
section {
    /////////////////Slider section/////////////////////
    &.slider {
        position:relative;
        @media screen and (max-width: 1199px) {
            padding-top: 46px;
        }
        .header_banner{
            position: relative;
            .single_image{
                background: $secondary-color;
                img{
                    width: 100%;
                    object-fit: cover;
                }
                @media screen and (max-width: 991px) {
                    height: 50vh !important;
                    img{
                        height: 50vh !important;
                    }
                }
                @media screen and (max-width: 575px) {
                    display: none;
                }
            }
            .image_slider {
                background: $secondary-color;
                img{
                    width: 100%;
                    object-fit: cover;
                }
                @media screen and (max-width: 991px) {
                    height: 60vh !important;
                    img{
                        height: 60vh !important;
                    }
                }
                @media screen and (max-width: 575px) {
                    display: none;
                }
            }

            .header-banner-text{
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                margin: 0 auto;
                text-align: center;
                padding: 20px;
                .header-title1{
                    font-family: $headings-font-family;
                    display: block;
                    font-size: 69px;
                    color: $primary-font-color;
                    text-shadow: 0 0 22px rgba(0, 0, 0, 0.7);
                    line-height: 77px;
                    margin-bottom:15px; 
                    font-weight: normal;
                }
                .header-title2{
                    font-size: 32px;
                    font-weight: normal;
                    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
                    display: block;
                    font-family: $headings-font-family;
                    color: $primary-font-color;
                }
                @media screen and (max-width: 1199px) {
                    .header-title1{
                        font-size: 48px;
                        line-height: 50px;
                    }
                    .header-title2{
                        font-size: 28px;
                    }
                }
                @media screen and (max-width: 575px) {
                    .header-title1{
                        font-size: 36px;
                        line-height: 38px;
                        margin-bottom:10px; 
                    }
                    .header-title2{
                        font-size: 24px;
                    }
                }
            }

            .mobile-slider-image,.mobile-single-image{
                position: relative;
                display: none;
                img{
                    width: 100%;
                    object-fit: cover;
                }
                @media screen and (max-width: 991px) {
                    height: 40vh !important;
                    img{
                        height: 40vh !important;
                    }
                }
                @media screen and (max-width: 575px) {
                    display: block;
                }
            }
        }
    }
    /////////////////Home en vervolg content section/////////////////////
    &.content, &.spotlight {
        //Imports
        @import "overview";
        @import "components/tabs";
        
        background: $body-bg;
        min-height: 250px;
        padding: $standard-padding;
        @media screen and (max-width: 991px) {
            padding:$standard-padding-mobile;
        }
        .homecontent, .maincontent {
            @include flexbreak(768px, 100%);
            @media screen and (max-width: 991px) {
                order: 1;
                margin-bottom: 20px;
            }
        }
        .homesidebar, .sidebar {
            @include flexbreak(768px, 100%);
            @media screen and (max-width: 991px) {
                order: 2;
            }
        }
        h1 {
            font-size: 40px;
            line-height:normal;
            font-weight: normal;
            margin-bottom: 8px;
            @media screen and (max-width: 1199px) {
                font-size: 32px;
                line-height:40px;
            }
        }
        h3{
            font-size: 30px;
            line-height:30px;
            font-weight: normal;
            margin-bottom: 10px;
            @media screen and (max-width: 1199px) {
                font-size: 28px;
                line-height:30px;
            }
        }
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
        blockquote{
            font-family: $headings-font-family;
            font-style: italic;
            color: $cta-color;
            position: relative;
            padding: 0 55px;
            margin-top: 60px;
            margin-left: 0;
            margin-bottom: 30px;
            margin-right: 0;
            p{
                font-size: 35px;
                line-height: 46px;
                font-weight: 600;
            }
            &::before,&::after{
                content: '“';
                position: absolute;
                font-size: 326px;
                left: -55px;
                top: 45px;
                font-family: $headings-font-family;
                line-height: 140px;
                color: $primary-color;
                opacity: 0.2;
            }
            &::after{
                content: '”';
                left: auto;
                right: 50px;
                top: auto;
                bottom: -140px;
            }
            @media screen and (max-width: 991px) {
                p{
                    font-size: 28px;
                    line-height: 40px;
                }
                padding: 0 45px;
                margin-top: 40px;
                &::before,&::after{
                    font-size: 266px;
                }
                &::before{
                    top: 25px;
                    left: -50px;
                }
                &::after{
                    bottom: -100px;
                }
            }
            @media screen and (max-width: 640px) {
                p{
                    font-size: 22px;
                    line-height: 34px;
                }
                padding: 0 25px;
                &::before,&::after{
                    font-size: 200px;
                }
                &::before{
                    top: 5px;
                    left: -30px;
                }
                &::after{
                    right: 30px;
                }
            }
        }
        .subtitle{
            font-size: 28px;
            font-weight: 300
        }

        .collapselink,.readmorelink_mobile {
            font-weight: normal;
            color: $cta-color;
            text-decoration: none;
            @media screen and (max-width: 991px){
                font-size: 18px;
            }
        }
        .mobile_readmore{
            @media screen and (max-width: 991px){
                margin-bottom: 0;
            }
        }

        .sidebar{
            .respo_btn{
                display: none;
            }
            .zb-widget-code{
                background: $primary-font-color;
                border-radius: 3px;
                margin-bottom: 35px;
                position: sticky;
                top: 50px;
                z-index: 99;
                @media screen and (max-width: 991px) {
                    display: none;
                }
            }
            .toggle_footer_menu{
                padding: 35px;
                margin: 0;
                border: 1px solid $mainborder-color;
                display: block !important;
                ul{
                    margin-bottom: 0;
                    li{
                        a{
                            text-decoration: none;
                            display: block;
                            &:hover{
                                color: $cta-color;
                                background: transparent;
                            }
                        }
                        &.active,&:hover{
                            a{
                                color: $cta-color;
                            }
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
                @media screen and (max-width: 991px) {
                    padding: 20px;
                }
            }
        }

        .nav-tabs{
            list-style: none;
            padding: 0;
            border: none;
            margin: 0px;
            position: sticky;
            top: 40px;
            background: #FFF;
            padding-bottom: 0;
            z-index: 9;
            padding-top: 10px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            .nav-item{
                margin: 0 20px 0 0 !important;
                min-width: 100px;
                text-align: center;
                padding: 0 !important;
                line-height: normal;
                float: left;
                &:before{
                    display: none;
                }
                .nav-link{
                    border: none;
                    padding: 12px 25px;
                    text-decoration: none;
                    font-size: 22px;
                    position: relative;
                    min-width: 135px;
                    width: 100%;
                    font-weight: normal;
                    font-family: $headings-font-family;
                    background: #d5d5d5;
                    color: #585858;
                    display: inline-block;
        
                    &.active,&:hover{
                        background: $secondary-color;
                        color: $primary-font-color;
                        @media screen and (max-width: 768px) {
                            border-color: $cta-color;
                        }
                    }
                }
            }
            @media screen and (max-width: 1199px) {
                display: block;
                width:100%;
                vertical-align: top;
                .nav-item{
                    margin: 6px 6px 0 0 !important;
                }
            }
            @media screen and (max-width: 991px) {
                display: flex;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                -webkit-overflow-scrolling: touch;
                flex-wrap: nowrap;
                scroll-snap-coordinate: 0 0;
                scroll-snap-points-x: repeat(100%);
                flex: 1;
                position: sticky;
                white-space: nowrap;
                flex-direction: row;
                &::-webkit-scrollbar {
                    width: 10px;
                    height: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    background: $mainborder-color;
                }
                &::-webkit-scrollbar-track {
                    background: #f5f5f5;
                }
                .nav-item{
                    min-width: inherit;
                    scroll-snap-align: start;
                    width: auto;
                    .nav-link{
                        padding: 12px 20px;
                        font-size: 20px;
                        position: relative;
                    }
                }
            }
           
        }
        .tab-content,.tab-detail-content{
            >.tab-pane, >.tab-pane-detail{
                display: none;
            }
            >.active{
                display: block;
            }
            width: 100%;
            color: $secondary-font-color;
            overflow-x: auto;
            padding: 25px 0 0;
            p{
                margin: 0 0 18px;
            }
        
            @media screen and (max-width: 768px) {
                display: block;
                clear:both;
                border-top:none;
            }
        }

        .desccollapse{
            > ul{
                margin-top: 0;
            }
        }
    }
    /////////////////Homepage blokken section/////////////////////
    &.productblocks {
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
        .container-fluid{
            max-width: 1560px;
            margin: 0 auto;
            @media screen and (max-width: 1199px) {
                padding: 0 10px;
            }
            @media screen and (max-width: 767px) {
                padding: 0 20px;
            }
        }
       .choice-middle{
           display: flex;
           width: 100%;
           .block1{
               width: 62%;
               margin: -20px 0;
               @media screen and (max-width: 1199px) {
                    width: 58%;
               }
           }
           .block2{
                width: 38%;
                margin: -20px 0;
                @media screen and (max-width: 1199px) {
                    width: 42%;
               }
            }
           .block{
               display: block;
                height: 632px;
                padding: 18px;
                &.half-block{
                    height: 316px;
                }
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: $transition-animate;
                    &.lazy{
                        opacity: 0;
                    }
                }
               a{
                   display: block;
                   height: 100%;
                   width: 100%;
                   background: $mainborder-color;
                   position: relative;
                   overflow: hidden;
                    .overlay-content{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        font-size: 39px;
                        color: $primary-font-color;
                        background: $primary-color;
                        padding: 19px 28px;
                        transition: $transition-animate;
                        font-family: $headings-font-family;
                        p{
                            margin: 0;
                        }
                    }
                    &:hover{
                        img{
                            //filter: blur(2px);
                            transform: scale(1.1);
                        }
                        .overlay-content{
                            background: $secondary-color;
                        }
                    }
                }
                @media screen and (max-width: 1199px) {
                    height: 492px;
                    padding: 10px;
                    &.half-block{
                        height: 246px;
                    }
                    a{
                        .overlay-content{
                            font-size: 28px;
                            padding: 12px 24px;
                        }
                    }
                }
                @media screen and (max-width: 767px) {
                    height: 402px;
                    &.half-block{
                        height: 202px;
                    }
                    a{
                        .overlay-content{
                            font-size: 20px;
                            padding: 10px 24px;
                            width: 100%;
                        }
                    }
                }
           }
       }
       .desktop-blocks{
            @media screen and (max-width: 767px) {
                display: none;
            }
       }
       .mobile-blocks-outer{
            display: none;
            position: relative;
            @media screen and (max-width: 767px) {
                display: block;
                margin-top: 25px;
                margin: 0 auto;
                width: calc(100% - 70px);
                max-width: 420px;
            }
            .mobile-blocks{
                max-width: 100%;
                .block{
                    display: block;
                    height: 320px;
                    background: $mainborder-color;
                    a{
                        display: block;
                        height: 100%;
                    }
                    img{
                        width: 100%;
                        display: block;
                        height: 100%;
                        object-fit: cover;
                        &.lazy{
                            opacity: 0;
                        }
                    }
                    @media all and (max-width:480px) {
                        height: 220px;
                    }
                }
                .overlay-content{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 22px;
                    color: $primary-font-color;
                    background: $primary-color;
                    padding: 10px 20px;
                    transition: $transition-animate;
                    font-family: $headings-font-family;
                }
            }
            .mobileblockslider-button-next,.mobileblockslider-button-prev{
                width: 28px;
                height: 66px;
                background: #3f3f3f;
                color: $primary-font-color;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: 50%;
                z-index: 1;
                cursor: pointer;
                transform: translateY(-50%);
                &::after{
                    font-size: 18px;
                    color: $primary-font-color;
                    font-weight: 700;
                }
                &.mobileblockslider-button-next{
                    left: auto;
                    right: 0;
                }
                &.swiper-button-disabled{
                    opacity: 0.3;
                }
                @media all and (max-width:767px) {
                    left: -40px;
                    &.mobileblockslider-button-next{
                        left: auto;
                        right: -40px;
                    }
                }
            }
        }
    }

    /////////////////kruimelspoor section/////////////////////
    &.breadcrumb-section {
        background:lighten($secondary-color, 0.5%);
        padding:3px 0;
       .breadcrumb {
           padding: 0;
           margin-bottom: 0;
           list-style: none;
           background-color: transparent;
           font-size: 18px;
           font-weight: 100;
           flex-wrap: wrap;
           display:flex;
           margin-top: 0;
           li {
               position: relative;
               a {
                   color:$primary-font-color;
                   opacity: 0.8;
                   &:hover {
                       text-decoration: underline;   
                       opacity: 1;
                   }
               }
               span{
                opacity: 0.8;
               }
               .divider {
                   padding: 0 7px;
                   color:$primary-font-color;
                   &.icon-location {
                       display:none;
                       padding:0;
                   }
               }
               &.active {
                    color:$primary-font-color;
               }
           }  
           @media all and (max-width:767px) {
               font-size: 14px;
               font-weight: 300;
           }
       }
   }



////////////////////////// sub nav blokken slider /////////////////////////////////
    &.blockslider{
        padding: $standard-padding;
        @media screen and (max-width: 991px) {
            padding:$standard-padding-mobile;
        }
        @media all and (max-width:767px) {
            .block-desc{
                margin-top: 20px;
            }
        }
        .block-slider-outer{
            position: relative;
            margin-top: 45px;
            .block-slider{
                .swiper-slide{
                    a{
                        display: block;
                        position: relative;
                        height: 329px;
                        background: $mainborder-color;
                        text-align: center;
                        overflow: hidden;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            transition: $transition-animate;
                        }
                        span{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            font-size: 30px;
                            color: $primary-font-color;
                            background: $primary-color;
                            padding: 12px;
                            transition: $transition-animate;
                            font-family: $headings-font-family;
                        }
                        &:hover{
                            span{
                                background: $secondary-color;
                            }
                            img{
                                transform: scale(1.1);
                            }
                        }
                        @media all and (max-width:991px) {
                            span{
                                font-size: 26px;
                                padding: 10px 12px;
                            }
                        }
                        @media all and (max-width:480px) {
                            height: 220px;
                            span{
                                font-size: 20px;
                                padding: 8px 12px;
                            }
                        }
                    }
                }
            }

            @media all and (max-width:767px) {
                margin: 25px auto 0;
                width: calc(100% - 70px);
                max-width: 420px;
            }

            .blockslider-button-prev,.blockslider-button-next{
                width: 28px;
                height: 66px;
                background: #3f3f3f;
                color: $primary-font-color;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: -50px;
                top: 50%;
                z-index: 1;
                cursor: pointer;
                transform: translateY(-50%);
                &::after{
                    font-size: 18px;
                    color: $primary-font-color;
                    font-weight: 700;
                }
                &.blockslider-button-next{
                    left: auto;
                    right: -50px;
                }
                &.swiper-button-disabled{
                    opacity: 0.3;
                }
                @media all and (max-width:1280px) {
                    left: -10px;
                    &.blockslider-button-next{
                        left: auto;
                        right: -10px;
                    }
                }
                @media all and (max-width:767px) {
                    left: -40px;
                    &.blockslider-button-next{
                        left: auto;
                        right: -40px;
                    }
                }
            }
        }

        &.blockslider-bottom{
            @media all and (min-width:768px) {
                h2{
                    text-align: center;
                }
            }
        }
    }
    ///////////////////// block for arrangementen / packages ////////////////////////
    &.sb-overview-packages-block {
        background: $secondary-color;
        padding: $standard-padding;
        @media screen and (max-width: 991px) {
            padding:$standard-padding-mobile;
        }
        @media all and (max-width:767px) {
            padding: 0;
            background: transparent;
        }
        h2 {
            @media all and (min-width:768px) {
                line-height:normal;
                font-weight: normal;
                margin-bottom: 12px;
                color: $primary-font-color;
                display: block;
                text-align:center;
            }
        }
    }
    ///////////////////// bottom impression / omgevings slider /////////////////////
    &.impression-block{
        @media all and (max-width:767px) {
            margin-top: 20px;
        }
        .single-slide{
            width: 100%;
            position: relative;
            min-height: 740px;
            background: $mainborder-color;
            @media all and (max-width:1199px) {
                min-height: 600px;
            }
            .impression-mobile-img{
                display: none;
            }
            @media all and (max-width:767px) {
                min-height: inherit;
                height: auto !important;
                .impression-mobile-img{
                    display: block;
                }
                .impression-desktop-img{
                    display: none;
                }
            }
            img{
                width: 100%;
                object-fit: cover;
                height: 100% !important;
                display: block;
            }
            .slider-content{
                position: absolute;
                right: 74px;
                top: 0;
                background: $secondary-color;
                max-width: 560px;
                padding: 90px 60px 50px;
                h1,h2,h3,h4{
                    color: $primary-font-color;
                }
                p{
                    color: $primary-font-color;
                    @media all and (min-width:1200px) {
                        font-size: 22px;
                    }
                }
                .icon{
                    display: none;
                    color: $tertiary-color;
                    font-size: 32px;
                    flex-shrink: 0;
                }
                @media all and (max-width:1199px) {
                    padding: 30px;
                    max-width: 440px;
                    right: 40px;
                    border-bottom-width: 6px;
                }
                @media all and (max-width:767px) {
                    padding: 20px;
                    position: static;
                    max-width: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    h2{
                        margin-bottom: 0;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p,.btn{
                        display: none;
                    }
                    .icon{
                        display: block;
                        margin-left: 15px;
                    }
                }
                @media all and (max-width:575px) {
                    h2{
                        font-size: 26px;
                    }
                }

            }
        }
    }

    &.tabs-block{
        padding: $standard-padding;
        @media screen and (max-width: 991px) {
            padding:$standard-padding-mobile;
        }
        .tab_outer{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            @media all and (max-width:767px) {
                display: none;
            }
            .left-block{
                width: 465px;
                &.tab-img-slider{
                    .swiper-slide{
                        background: $mainborder-color;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .tabslider-button-prev,.tabslider-button-next{
                        position: absolute;
                        left: 22px;
                        top: 50%;
                        z-index: 1;
                        cursor: pointer;
                        transform: translateY(-50%);
                        color: $primary-font-color;
                        font-size: 20px;
                        &.tabslider-button-next{
                            left: auto;
                            right: 22px;
                        }
                        &.swiper-button-disabled{
                            opacity: 0.3;
                        }
                    }
                }
                @media all and (max-width:1199px) {
                    width: 360px;
                }
            }
            .right-block{
                width: calc(100% - 465px);
                padding-left: 64px;
                @media all and (max-width:1199px) {
                    width: calc(100% - 360px);
                    padding-left: 25px;
                }
                .tab_list{
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    border-bottom: 1px solid $mainborder-color;
                    .tab-link{
                        color: #514c42;
                        background: #d5d5d5;
                        padding: 8px 22px;
                        display: inline-block;
                        margin-right: 17px;
                        margin-top: 5px;
                        cursor: pointer;
                        font-size: 22px;
                        font-family: $headings-font-family;
                        &.current{
                            background: $secondary-color;
                            color: $primary-font-color;
                        }
                        @media all and (max-width:1199px) {
                            margin-right: 8px;
                            font-size: 18px;
                            padding: 8px 14px;
                        }
                    }
                }
                .tab-content {
                    display: none;
                    padding: 30px 0 0;
                    &.current{
                        display: flex;
                    }
                    p {
                        &:last-child{
                            margin-bottom: 0;
                        }
                        @media screen and (max-width: 991px) {
                            font-size: 17px;
                            line-height: 28px;
                        }            
                    }
                    
                }
            }
        }

        .module-header-title,.mobile-tab-slider{
            @media all and (min-width:768px) {
                display: none !important;
            }
        }
        .mobile-tab-slider{
            margin-top: 20px;
            text-align: center;
            .swiper-slide{
                padding: 0 30px;
            }
            .mobiletabslider-button-next,.mobiletabslider-button-prev{
                width: 28px;
                height: 66px;
                background: #3f3f3f;
                color: $primary-font-color;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: 50%;
                z-index: 1;
                cursor: pointer;
                transform: translateY(-50%);
                &::after{
                    font-size: 18px;
                    color: $primary-font-color;
                    font-weight: 700;
                }
                &.mobiletabslider-button-next{
                    left: auto;
                    right: 0;
                }
                &.swiper-button-disabled{
                    opacity: 0.3;
                }
            }
        }
    }
    /////////////////////// prijsmatrix block //////////////////
    &.sb-prijsmatrix-block{
        padding: $standard-padding;
        @media screen and (max-width: 991px) {
            padding:$standard-padding-mobile;
        }
        @media all and (min-width:768px) {
            h2{
                text-align: center;
                margin-bottom: 35px;
            }
        }
    }
    ////////////////////// plattegrond block //////////////////
    &.plattegrond-block{
        .plattegrond-flex{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 0 -20px;
            .plattegrond-wrap{
                width: 100%;
                max-width: 100%;
                .image {
                    border: 1px solid $mainborder-color;
                    margin-bottom: 10px;
                    line-height: 0;
                    background: $mainborder-color;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        &.lazy{
                            opacity: 0;
                        }
                    }
                    
                }
            }
        }
        h2{
            margin-bottom: 5px;
        }
    }

    /////////////// features / kenmerken block /////////////////////
    &.features-block{
        .container {
            padding:0;
        }
        @media screen and (min-width: 767px) {
            h4{
                font-size: 26px;
            }
        }
    }



    /////////////// gallery section ////////////////////
    &.gallery-section{
        @media all and (max-width:767px) {
            margin-bottom: 10px;
        }
        .container-fluid{
            max-width: 1550px;
            margin: 0 auto;
            @media all and (max-width:1199px) {
                padding: 0 10px;
            }
        }
        .coloverwrite{
            display: flex;
            width: 100%;
            height: 630px;
            @media all and (max-width:1199px) {
                height: 450px;
            }
            @media all and (max-width:768px) {
                height: 320px;
            }
            @media all and (max-width:480px) {
                height: 220px;
            }
            
            .block-left{
                width: 60%;
                @media all and (max-width:640px) {
                    display: none;
                }
            }
            .block-right{
                width: 40%;
                display: flex;
                flex-direction: column;
                .imglink{
                    height: 50%;
                }
                @media all and (max-width:640px) {
                    display: none;
                }
            }

            .imglink{
                display: block;
                width: 100%;
                height: 100%;
                padding: 20px;
                position: relative;
                background: $primary-font-color;
                overflow: hidden;
                > span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    background: $mainborder-color;      
                    overflow: hidden;              
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: $transition-animate;
                    &.lazy{
                        opacity: 0;
                    }
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
                .overlap_text{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 40px;
                    color: $primary-font-color;
                    background: $cta-color;
                    padding: 8px 28px;
                    line-height: normal;
                    transition: all ease 0.4s;
                    font-family: "Signika Negative", sans-serif;
                    &:hover{
                        background:  darken($cta-color, 7%);
                    }
                }

                @media all and (max-width:1199px) {
                    padding: 10px;
                    .overlap_text{
                        padding: 8px 18px;
                        font-size: 28px;
                    }
                }
                @media all and (max-width:767px) {
                    .overlap_text{
                         font-size: 22px;
                    }
                }
            }

            .mobile-gallery{
                @media all and (min-width:641px) {
                    display: none;
                }
            }
        }
        
        .img-mobile-gallery{
            position: fixed;
            top: 0;
            right: -100%;
            height: 100%;
            width: 100%;
            background: #fff;
            z-index: 999;
            transition: $transition-animate;
            overflow-y: auto;
            display: flex;
            flex-wrap: wrap;
            padding: 60px 10px;
            &.img-content-active{
                right: 0;
                .mobile-tab-close{
                    position: fixed;
                }
            }
            @media screen and (min-width: 768px) {
                display: none;
            }
            .fancybox{
                width: 50%;
                padding: 10px;
                display: block;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                @media screen and (max-width: 575px) {
                    width: 100%;
                    img{
                        height: auto;
                    }
                }
            }
        }
    }
}

//////////////// client logoslider //////////////////////////////
.client-logoslider{
    width: 100%;
    background: white;
    padding: 60px 0;
    .swiper-wrapper{
        align-items: center;
        .swiper-slide{
            height: auto;
            a{
                display: block;
            }
            &.logo.swiper-slide{
                img{
                    transition: none;
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        padding: 40px 0;
        .swiper-wrapper{
            .swiper-slide{
                text-align: center;
            }
        }
    }
}

/* Home bottom space 8 */
.home{
    &.scrolled{
        @media screen and (max-width: 991px) {
            margin-bottom: 50px;
        }
    }
}

